extends ../layout/layout

block page_title
  if user
    h2= user.getFullName()
  else
    h2 User Profile
block body
  if user
    h3= user.getEmail()
    h3= user.getUserName()
    h3= dateHelper.format( user.getDateOfBirth() )
    ul
      for folllow in user.getFollowings()
        li= folllow.getUserName()
    if user.getId() != current_user.getId()
      a.btn.btn-primary(href="/user/follow/#{user.getUserName()}") Follow
  else
    h3 User not found
